.section {
    width: 95%; 
    height: 360px;         /* <<< จุดสำคัญ */
    overflow-y: auto;      /* เปิด scrollbar */
    padding: 15px;
    display: block;
}

/* สไตล์ scrollbar ให้สวย */
.section::-webkit-scrollbar {
    width: 7px;
}

.section::-webkit-scrollbar-track {
    background: #e5e7eb;
    border-radius: 10px;
}

.section::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    border-radius: 10px;
}
