<div id="promoPopup" class="popup-overlay">
  <div class="popup-content">
    <span class="close-btn">&times;</span>

    <div class="slider-container">
      <div class="slider" id="popupSlider">

        <a href="/post/1">
          <picture>
            <source media="(max-width: 768px)" srcset="/static/images/popup-mobile/1.jpg">
            <img src="/static/images/popup-desktop/1.jpg" class="popup-img" />
          </picture>
        </a>

        <a href="/post/2">
          <picture>
            <source media="(max-width: 768px)" srcset="/static/images/popup-mobile/2.jpg">
            <img src="/static/images/popup-desktop/2.jpg" class="popup-img" />
          </picture>
        </a>

        <a href="/post/3">
          <picture>
            <source media="(max-width: 768px)" srcset="/static/images/popup-mobile/3.jpg">
            <img src="/static/images/popup-desktop/3.jpg" class="popup-img" />
          </picture>
        </a>

      </div>

      <button class="arrow left" id="popupPrev">&#10094;</button>
      <button class="arrow right" id="popupNext">&#10095;</button>
    </div>
  </div>
</div>
